@using WebApplication6_11.web.Models
@model IndexViewModel
<h1>@Model.Number</h1>
<button class="btn btn-danger">Increment Number</button>

@section scripts{
    <script src="~/Content/JavaScript.js"></script>
    }